/*
 *
 * MMM-SwissStationboard by vanhoekd
 *
 * MIT Licensed.
 *
 */

.MMM-SwissStationboard {
  font-size: 65%;
  //line-height: 65px;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-SwissStationboard table {
    width: 400px;
}

.MMM-SwissStationboard .red {
    color: #FF0000
}

.MMM-SwissStationboard .darkgrey {
    color: #424242
}